<!DOCTYPE html>
<html lang="zh-Hans">
<head>
<title>Aloneme's WebPages</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="./static/img/css.css" type="text/css" />
</head>
<body>
<!-- menu starts -->
<div class="listbar clearfloat">
	<div class="box clearfloat">
	  <h3>社区文库</h3>
	  <ul class="listmenu">
		<li><a href="https://forum.butian.net/">奇安信攻防社区</a></li>
		<li><a href="https://xz.aliyun.com/">先知社区</a></li>
		<li><a href="https://www.zsxq.com/">知识星球</a></li>
		<li><a href="https://wiki.xazlsec.com/">信安之路 - Wiki</a></li>
		<li><a href="https://wiki.freebuf.com/">Freebuf Wiki 知识大陆</a></li>
		<li><a href="https://paper.seebug.org/">SeeBug</a></li>
		<li><a href="http://vulnstack.qiyuanxuetang.net/vuln/wiki/">vulnstack - 红日安全</a></li>
		<li><a href="https://websec.readthedocs.io/zh/latest/">websec docs</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>学习</h3>
	  <ul class="listmenu">
		<li><a href="https://edu.xazlsec.com/">信安之路成长平台</a></li>
		<li><a href="https://govuln.com/">代码审计知识星球</a></li>
		<li><a href="https://www.securecodewarrior.com/">securecodewarrior - 国外代码审计平台</a></li>
		<li><a href="https://www.wolai.com/nnRjHcUSv2mrRbFKZUpBMS">代码重工</a></li>
		<li><a href="https://adworld.xctf.org.cn/home/index">CTF - 攻防世界</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>信息搜集</h3>
	  <ul class="listmenu">
		<li><a href="https://fofa.info/">Fofa</a></li>
		<li><a href="https://www.virustotal.com/gui/home/search">Virus Total</a></li>
		<li><a href="https://quake.360.cn/quake/#/index">360 Quake</a></li>
		<li><a href="https://securitytrails.com/">Security Trials</a></li>
		<li><a href="https://search.censys.io/">Censys</a></li>
		<li><a href="https://viewdns.info/">ViewDNS.info</a></li>
		<li><a href="http://whois.chinaz.com/">站长之家 - Whois</a></li>
		<li><a href="https://www.qcc.com/">企查查</a></li>
		<li><a href="https://x.threatbook.cn/">微步社区</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>漏洞查询</h3>
	  <ul class="listmenu">
		<li><a href="https://vulners.com/search">Vulners</a></li>
		<li><a href="https://cn.0day.today/">0day.today</a></li>
		<li><a href="https://sploitus.com/">sploitus</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>匿名邮箱</h3>
	  <ul class="listmenu">
		<li><a href="https://mail.tm/zh/">Mail.tm</a></li>
		<li><a href="https://temp-mail.org/">Temp Mail</a></li>
		<li><a href="https://mail.proton.me/">Proton Mail</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>在线解密编码</h3>
	  <ul class="listmenu">
		<li><a href="https://www.cmd5.com/">CMD5</a></li>
		<li><a href="https://www.somd5.com/">Somd5</a></li>
		<li><a href="http://www.hiencode.com/">CTF - 在线解码编码</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>资源查找</h3>
	  <ul class="listmenu">
		<li><a href="https://github.com">GitHub</a></li>
		<li><a href="https://gitee.com">Gitee</a></li>
		<li><a href="https://www.osint-labs.org/tools/">OSINT-Labs</a></li>
		<li><a href="http://wechat.doonsec.com/">洞见微信聚合</a></li>
		<li><a href="https://www.shentoushi.top/">渗透师导航</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>内网渗透</h3>
	  <ul class="listmenu">
		<li><a href="http://bugs.hacking8.com/tiquan/">提权辅助网页</a></li>
		<li><a href="https://teamssix.com/">teamssix</a></li>
	  </ul>
	</div>
	<div class="box clearfloat">
	  <h3>其他</h3>
	  <ul class="listmenu">
		<li><a href="https://kcssr.biz/">Kcssr</a></li>
		<li><a href="https://bilibili.com">Bilibili</a></li>
		<li><a href="https://wallhaven.cc/">WallHaven - 壁纸</a></li>
		<li><a href="https://www.oldmanemu.net/">FC游戏 - 老男人游戏网</a></li>
		<li><a href="https://pastebin.com/index.php">Pastebin.com</a></li>
	  </ul>
	</div>
	<!-- menu ends -->
</div>
</body>
</html>